* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Titillium Web", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url(../drink3000-starter/fonts/gilroy-extrabold-webfont.woff);
}
.header1 {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.header1 div {
  display: flex;
  justify-content: center;
  color: white;
  font-size: xx-large;
  font-weight: 900;
  gap: 1rem;
}
.header1 nav ul {
  display: none;
}

.header2 {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.2);
}
.header2 div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.header2 div div {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: xx-large;
  font-weight: 900;
  gap: 1rem;
}
.header2 div nav {
  display: flex;
  justify-content: center;
}
.header2 div nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1, .home i {
  position: absolute;
  font-size: xx-large;
  color: white;
  font-weight: 900;
}

video {
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
  font-family: "Gilroy";
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.recipes button {
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
}
.recipes button:hover {
  cursor: pointer;
}

.choixList {
  display: flex;
  justify-content: space-evenly;
}
.choixList button {
  background-color: #d2d0c3;
  font-size: 1rem;
}

.boissonsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}
@media screen and (min-width: 767px) {
  .boissonsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.boisson {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  color: white;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (min-width: 991px) {
  .boisson {
    flex-basis: 30%;
  }
}
.boisson .title {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
  margin-bottom: 0.5rem;
}
.boisson .title h5 {
  font-size: 2rem;
}
.boisson .title i {
  font-size: 1.5rem;
}
.boisson .buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.boisson .buttons button {
  color: white;
}
.boisson .buttons .infos {
  background-color: rgba(0, 0, 0, 0.3);
}
.boisson .buttons .infos:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.boisson .buttons .select {
  padding: 0;
}

.red {
  background-color: #e20614;
}

.green {
  background-color: #a0c525;
}

.orange {
  background-color: #c94c05;
}

.notChosen .buttons .select {
  color: #404341;
}
.notChosen .buttons .select:hover {
  cursor: not-allowed;
}

.choice {
  background-color: #d2d0c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.choice h4 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
