//breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
$xl-breakpoint: 1399px;

//colors
$primary: #333333;
$secondary: #404341;
$footer: #464646;
$light-gray: #d2d0c3;
$transparent-black: rgba(0, 0, 0, 0.3);
$transparent-black-lighter: rgba(0, 0, 0, 0.2);
$white: white;
$red: #e20614;
$green: #a0c525;
$orange: #c94c05;
