@use "variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Titillium Web', sans-serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy-extrabold-webfont.woff);
}


.header1 {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;

    div {
        display: flex;
        justify-content: center;
        color: v.$white;
        font-size: xx-large;
        font-weight: 900;
        gap: 1rem;
    }

    a {
        text-decoration: none;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            font-size: xx-large;
            font-weight: 900;
            gap: 1rem;
        }
    }

    nav {
        ul {
            display: none;
        }
    }
}


.header2 {
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    background-color: hsl(0, 0%, 0%, 0.4);
    z-index: 1;

    div {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;

        a {
            text-decoration: none;

            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: v.$white;
                font-size: xx-large;
                font-weight: 900;
                gap: 1rem;
                width: fit-content;
            }
        }
        
        nav {
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                list-style-type: none;
                gap: 2rem;
                color: v.$white;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: v.$sm-breakpoint) {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .h1Home {
        position: absolute;
        font-size: xx-large;
        color: v.$white;
        font-weight: 900;
        text-align: center;
    }

    .arrow {
        animation: MoveUpDown 1.5s linear infinite;
        position: absolute;
        font-size: xx-large;
        font-weight: 900;
        align-self: flex-end;
        z-index: 1;
        bottom: 0;

        a {
            color: white;
        }
    }
}

video {
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 50px;
    }
}

// Titres
h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-family: 'Gilroy';
    text-transform: uppercase;
    letter-spacing: 1rem;
}

h3{
    margin: 0!important;
    font-family: 'Gilroy';
}

// Recettes
.recipes{
    button{
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        padding: 0.4rem 0.7rem;
        border-radius: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.choixList{
    display: flex;
    justify-content: space-evenly;
    button{
        background-color: v.$light-gray;
        font-size: 1rem;
    }
}

.boissonsList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem;
    @media screen and (min-width: v.$sm-breakpoint) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.boisson{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    color: v.$white;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (min-width: v.$md-breakpoint) {
        flex-basis: 30%;
    }

    .title{
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px v.$white;
        margin-bottom: 0.5rem;
        h5{
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }
        i{
            font-size: 1.5rem;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: end;
        
        button{
            color: v.$white;
        }

        .infos{
            background-color: v.$transparent-black;
            &:hover{
                background-color: v.$transparent-black-lighter;
            }
        }

        .select{
            padding: 0;
        }
    }
}

.red{
    background-color: v.$red;
}
.green{
    background-color: v.$green;
}
.orange{
    background-color: v.$orange;
}

.notChosen{
    .buttons{
        .select{
            color:v.$transparent-black;
            &:hover{
                cursor: not-allowed;
            }
        }
    }
}

.choice{
    background-color: v.$light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    h4{
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 0.5rem;
    }
}

.contact {
    background-color: v.$footer;
    color: v.$white;

    div {
        width: 80%;
        margin: auto;

        div {

            h3 {
                text-align: center;
            }

            form {
                div {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    gap: 2rem;
                    margin: 0.75rem 0;

                    input {
                        border: none;
                        border-radius: 5px;
                        width: 50%;
                    }
                }
            }
        }
    }
}

//Références
#nosReferences{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
    h6 {
        font-size: 1.2rem;
        color: v.$primary;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 2px v.$primary;
        height: fit-content;
    }
    p {
        width: fit-content;
        text-align: center;
        font-weight: bold;
    }
    
    img{
        width: 100%;
        margin: auto;
        
    }
    .references1{
        width: 100%;
        margin: auto;
        @media screen and (min-width: v.$md-breakpoint) {
            display: flex;
        }

        h6, .image{
            @media screen and (min-width: v.$md-breakpoint) {
                flex-basis: 50%;
            }
        }

        div{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media screen and (min-width: v.$md-breakpoint) {
                flex-direction: row;
                align-items: flex-start;
                width: 30%;
            }
        }
    }
    .references2{
        @media screen and (min-width: v.$md-breakpoint) {
            display: flex;
            justify-content: center;
        }
        div{
            @media screen and (min-width: v.$md-breakpoint) {
                width: 75%;
                display: flex;
            }
        }
        img{
            @media screen and (min-width: v.$md-breakpoint) {
                width: 20%;
            } 
        };
    }
}