@use "variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Titillium Web', sans-serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../drink3000-starter/fonts/gilroy-extrabold-webfont.woff);
}


.header1 {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    position: absolute;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        justify-content: center;
        color: white;
        font-size: xx-large;
        font-weight: 900;
        gap: 1rem;
    }

    a {
        text-decoration: none;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            font-size: xx-large;
            font-weight: 900;
            gap: 1rem;
        }
    }

    nav {
        ul {
            display: none;
        }
    }
}

.header2 {
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    background-color: hsl(0, 0%, 0%, 0.2);
    z-index: 1;

    div {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;

        a {
            text-decoration: none;

            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: white;
                font-size: xx-large;
                font-weight: 900;
                gap: 1rem;
                width: fit-content;
            }
        }
    
        nav {
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                list-style-type: none;
                gap: 2rem;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;

    .h1Home {
        position: absolute;
        font-size: xx-large;
        color: white;
        font-weight: 900;
    }

    .arrow {
        animation: MoveUpDown 1.5s linear infinite;
        position: absolute;
        font-size: xx-large;
        font-weight: 900;
        align-self: flex-end;
        padding-bottom: 3rem;
        z-index: 1;
        bottom: 0;

        a {
            color: white;
        }
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 50px;
    }
}

video {
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
}

// Titres
h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
    font-family: 'Gilroy';
    text-transform: uppercase;
    letter-spacing: 1rem;
}

// Recettes
.recipes{
    button{
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        padding: 0.4rem 0.7rem;
        border-radius: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.choixList{
    display: flex;
    justify-content: space-evenly;
    button{
        background-color: rgba(0, 0, 0, 0.15);
        font-size: 1rem;
    }
}

.boissonsList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem;
    @media screen and (min-width: v.$sm-breakpoint) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.boisson{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    color: white;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (min-width: v.$md-breakpoint) {
        flex-basis: 30%;
    }

    .title{
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px white;
        margin-bottom: 0.5rem;
        h5{
            font-size: 2rem;
        }
        i{
            font-size: 1.5rem;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: end;
        
        button{
            color: white;
        }

        .infos{
            background-color: rgba(0, 0, 0, 0.3);
        }

        .select{
            padding: 0;
        }
    }
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}

.choice{
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    h4{
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 0.5rem;
    }
}